// Place all the styles related to the show controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color:#c0ffee;
}
.topbar{
  height:50px;
  width:100%;
  background-color:white;
}

body.show.recipe{

  .recipename{
    padding-top:20px;
    padding-bottom:20px;
    width:1000px;
    margin:auto;
    text-align:center;
  }

  .content{
    background:white;
    width:1000px;
    margin:auto;

  }

  .ingredients{
    background:red;
    height:100%;
  }
}
